* {
  font-family: "Roboto Serif", serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header h1 {
  font-weight: 800;
  font-size: 4rem;
  color: white;
}

header p {
  font-size: 1.5rem;
}

.outer-container {
  width: 70%;
  margin: auto;
  padding: 1rem;
}

main {
  margin-left: 3rem;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.form-section {
  margin: 0.25rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25rem;
}

button {
  border: none;
  color: white;
  background: teal;
  padding: 0.5rem;
  max-width: 100px;
}

.btn-wrapper {
  width: 50%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header,
footer {
  color: white;
  background: teal;
  padding: 2rem;
  text-align: center;
}

/* Utility */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 480px) {
  .outer-container {
    width: 100%;
  }

  main {
    margin: 0.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.25rem;
  }

  .form-section {
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
  }
}
